body {
  background-color: rgb(45, 46, 46);
}

div.relative {
  position: relative;
  left: 600px;
  font-size: 20px;
}

h1,
h2 {
  color: rgb(87, 11, 11);
}

p.a {
  font: italic bold Georgia, serif;
  font-size: 35px;
  color: rgb(121, 7, 7);
  text-shadow: 1px 1px #000000;
}
